In [1]:
import pandas as pd

df_genes = pd.read_csv("all_human_genes.txt", sep="\t")
df_genes

/tmp/ipykernel_3565/2162295669.py:3: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_genes = pd.read_csv("all_human_genes.txt", sep="\t")

,tax_id,Org_name,GeneID,CurrentID,Status,Symbol,Aliases,description,other_designations,map_location,chromosome,genomic_nucleotide_accession.version,start_position_on_the_genomic_accession,end_position_on_the_genomic_accession,orientation,exon_count,OMIM,Unnamed: 17
0,9606,Homo sapiens,348,0,live,APOE,"AD2, APO-E, ApoE4, LDLCQ5, LPG",apolipoprotein E,apolipoprotein E|apolipoprotein E3,19q13.32,19,NC_000019.10,44905796.0,44909393.0,plus,6.0,107741,NaN
1,9606,Homo sapiens,1636,0,live,ACE,"ACE1, CD143, DCP, DCP1",angiotensin I converting enzyme,angiotensin-converting enzyme|CD143 antigen|an...,17q23.3,17,NC_000017.11,63477061.0,63498373.0,plus,26.0,106180,NaN
2,9606,Homo sapiens,3106,0,live,HLA-B,"AS, B-4901, HLAB","major histocompatibility complex, class I, B","major histocompatibility complex, class I, B|H...",6p21.33,6,NC_000006.12,31353875.0,31357179.0,minus,8.0,142830,NaN
3,9606,Homo sapiens,1588,0,live,CYP19A1,"ARO, ARO1, CPV1, CYAR, CYP19, CYPXIX, P-450AROM",cytochrome P450 family 19 subfamily A member 1,aromatase|cytochrome P-450AROM|cytochrome P450...,15q21.2,15,NC_000015.10,51208057.0,51338596.0,minus,18.0,107910,NaN
4,9606,Homo sapiens,54658,0,live,UGT1A1,"BILIQTL1, GNT1, HUG-BR1, UDPGT, UDPGT 1-1, UGT...",UDP glucuronosyltransferase family 1 member A1,UDP-glucuronosyltransferase 1A1|UDP glucuronos...,2q37.1,2,NC_000002.12,233760270.0,233773300.0,plus,5.0,191740,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255352,1397361,Sporothrix schenckii 1099-18,27672560,0,live,SPSK_11198,SPSK_11198,tRNA-Phe,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255353,1397361,Sporothrix schenckii 1099-18,27672559,0,live,SPSK_11197,SPSK_11197,tRNA-Val,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255354,1397361,Sporothrix schenckii 1099-18,27672558,0,live,SPSK_11196,SPSK_11196,tRNA-Ser,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255355,1397361,Sporothrix schenckii 1099-18,27672557,0,live,SPSK_11195,SPSK_11195,tRNA-Ser,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255356,1397361,Sporothrix schenckii 1099-18,27672556,0,live,SPSK_11194,SPSK_11194,tRNA-Gly,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df_human_genes = df_genes[df_genes["Org_name"] == "Homo sapiens"]
df_human_genes

,tax_id,Org_name,GeneID,CurrentID,Status,Symbol,Aliases,description,other_designations,map_location,chromosome,genomic_nucleotide_accession.version,start_position_on_the_genomic_accession,end_position_on_the_genomic_accession,orientation,exon_count,OMIM,Unnamed: 17
0,9606,Homo sapiens,348,0,live,APOE,"AD2, APO-E, ApoE4, LDLCQ5, LPG",apolipoprotein E,apolipoprotein E|apolipoprotein E3,19q13.32,19,NC_000019.10,44905796.0,44909393.0,plus,6.0,107741,NaN
1,9606,Homo sapiens,1636,0,live,ACE,"ACE1, CD143, DCP, DCP1",angiotensin I converting enzyme,angiotensin-converting enzyme|CD143 antigen|an...,17q23.3,17,NC_000017.11,63477061.0,63498373.0,plus,26.0,106180,NaN
2,9606,Homo sapiens,3106,0,live,HLA-B,"AS, B-4901, HLAB","major histocompatibility complex, class I, B","major histocompatibility complex, class I, B|H...",6p21.33,6,NC_000006.12,31353875.0,31357179.0,minus,8.0,142830,NaN
3,9606,Homo sapiens,1588,0,live,CYP19A1,"ARO, ARO1, CPV1, CYAR, CYP19, CYPXIX, P-450AROM",cytochrome P450 family 19 subfamily A member 1,aromatase|cytochrome P-450AROM|cytochrome P450...,15q21.2,15,NC_000015.10,51208057.0,51338596.0,minus,18.0,107910,NaN
4,9606,Homo sapiens,54658,0,live,UGT1A1,"BILIQTL1, GNT1, HUG-BR1, UDPGT, UDPGT 1-1, UGT...",UDP glucuronosyltransferase family 1 member A1,UDP-glucuronosyltransferase 1A1|UDP glucuronos...,2q37.1,2,NC_000002.12,233760270.0,233773300.0,plus,5.0,191740,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193499,9606,Homo sapiens,128966549,0,live,LOC128966549,NaN,potassium/sodium hyperpolarization-activated c...,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193500,9606,Homo sapiens,116652394,0,live,TRN-GTT3-2,TRNAN15,tRNA-Asn (GTT) 3-2,transfer RNA asparagine 15 (anticodon GUU)|tra...,1q21.1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193501,9606,Homo sapiens,100189361,0,live,TRP-AGG3-1,TRNAP20,tRNA-Pro (AGG) 3-1,transfer RNA proline 20 (anticodon AGG)|transf...,16p13.3,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193502,9606,Homo sapiens,100189309,0,live,TRW-CCA6-1,TRNAW8,tRNA-Trp (anticodon CCA) 6-1,tRNA-Trp-CCA-6-1|transfer RNA tryptophan 8 (an...,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193503,9606,Homo sapiens,100189057,0,live,TRY-GTA9-1,TRNAY5,tRNA-Tyr (anticodon GTA) 9-1,tRNA-Tyr-GTA-9-1|transfer RNA tyrosine 5 (anti...,8q13.1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_human_genes_data = df_human_genes[["Symbol", "GeneID"]]
df_human_genes_data

              Symbol     GeneID
0               APOE        348
1                ACE       1636
2              HLA-B       3106
3            CYP19A1       1588
4             UGT1A1      54658
...              ...        ...
193499  LOC128966549  128966549
193500    TRN-GTT3-2  116652394
193501    TRP-AGG3-1  100189361
193502    TRW-CCA6-1  100189309
193503    TRY-GTA9-1  100189057

[193504 rows x 2 columns]

In [5]:
#df_human_genes_data.to_csv("df_human_genes_data_NCBI.tsv", sep="\t", index=None)

In [6]:
human_gene_ids = pd.read_csv("uniprotKB_human_geneIDS.tsv", sep="\t")
human_gene_ids

,Entry,Reviewed,Entry Name,Protein names,Gene Names,Organism,Length,GeneID
0,A0A024R1X5,unreviewed,A0A024R1X5_HUMAN,Beclin-1,BECN1 hCG_16958,Homo sapiens (Human),450,8678;
1,A0A024R274,unreviewed,A0A024R274_HUMAN,Mothers against decapentaplegic homolog (MAD h...,SMAD4,Homo sapiens (Human),552,4089;
2,A0A024R324,unreviewed,A0A024R324_HUMAN,Transforming protein RhoA,RHOA hCG_20136,Homo sapiens (Human),193,387;
3,A0A024R6A3,unreviewed,A0A024R6A3_HUMAN,Presenilin (EC 3.4.23.-),PSEN1,Homo sapiens (Human),467,5663;
4,A0A024R7I7,unreviewed,A0A024R7I7_HUMAN,Ras-related protein Rab-3,NaN,Homo sapiens (Human),220,5864;
...,...,...,...,...,...,...,...,...
204058,X6RLU5,unreviewed,X6RLU5_HUMAN,Calcium voltage-gated channel auxiliary subuni...,CACNA2D4,Homo sapiens (Human),192,NaN
204059,X6RLV5,unreviewed,X6RLV5_HUMAN,DEAD-box helicase 5,DDX5,Homo sapiens (Human),96,NaN
204060,X6RLY7,unreviewed,X6RLY7_HUMAN,Calcium voltage-gated channel auxiliary subuni...,CACNA2D4,Homo sapiens (Human),282,NaN
204061,X6RM00,unreviewed,X6RM00_HUMAN,ELKS/RAB6-interacting/CAST family member 1,ERC1,Homo sapiens (Human),976,NaN
204062,X6RM24,unreviewed,X6RM24_HUMAN,Enolase superfamily member 1,ENOSF1,Homo sapiens (Human),96,NaN

In [7]:
human_genes = human_gene_ids[["Gene Names", "GeneID"]]
human_genes = human_genes.dropna()
human_genes

             Gene Names   GeneID
0       BECN1 hCG_16958    8678;
1                 SMAD4    4089;
2        RHOA hCG_20136     387;
3                 PSEN1    5663;
5                   GBA    2629;
...                 ...      ...
203910            ASTN2   23245;
203915          C1orf43   25912;
203926          SPANXN4  441525;
203937          RAP1GAP    5909;
204056            DCTN3   11258;

[26946 rows x 2 columns]

In [8]:
for i, row in human_genes.iterrows():
    #print(row[0], row[1])
    try:
        row[0] = row[0].split(" ")[0]
        row[1] = row[1].split(" ")[1]
    except:
        continue
human_genes

       Gene Names   GeneID
0           BECN1    8678;
1           SMAD4    4089;
2            RHOA     387;
3           PSEN1    5663;
5             GBA    2629;
...           ...      ...
203910      ASTN2   23245;
203915    C1orf43   25912;
203926    SPANXN4  441525;
203937    RAP1GAP    5909;
204056      DCTN3   11258;

[26946 rows x 2 columns]

In [9]:
human_genes.columns = ["Symbol", "GeneID"]
human_genes

         Symbol   GeneID
0         BECN1    8678;
1         SMAD4    4089;
2          RHOA     387;
3         PSEN1    5663;
5           GBA    2629;
...         ...      ...
203910    ASTN2   23245;
203915  C1orf43   25912;
203926  SPANXN4  441525;
203937  RAP1GAP    5909;
204056    DCTN3   11258;

[26946 rows x 2 columns]

In [11]:
geneids = [int(item.replace(";", "")) for item in human_genes["GeneID"].tolist()]
human_genes["GeneID"] = geneids
human_genes

         Symbol  GeneID
0         BECN1    8678
1         SMAD4    4089
2          RHOA     387
3         PSEN1    5663
5           GBA    2629
...         ...     ...
203910    ASTN2   23245
203915  C1orf43   25912
203926  SPANXN4  441525
203937  RAP1GAP    5909
204056    DCTN3   11258

[26946 rows x 2 columns]

In [13]:
combined_human_genes = pd.concat([df_human_genes_data, human_genes], axis=0)
combined_human_genes

         Symbol  GeneID
0          APOE     348
1           ACE    1636
2         HLA-B    3106
3       CYP19A1    1588
4        UGT1A1   54658
...         ...     ...
203910    ASTN2   23245
203915  C1orf43   25912
203926  SPANXN4  441525
203937  RAP1GAP    5909
204056    DCTN3   11258

[220450 rows x 2 columns]

In [14]:
combined_human_genes_unique = combined_human_genes.drop_duplicates()
combined_human_genes_unique

         Symbol     GeneID
0          APOE        348
1           ACE       1636
2         HLA-B       3106
3       CYP19A1       1588
4        UGT1A1      54658
...         ...        ...
203395     RAI1     493901
203396     RAM2      64184
203417     MGRF     116534
203585    MGRG2     259249
203697  ELABELA  100506013

[194774 rows x 2 columns]