In [11]:
import pandas as pd

In [12]:
all_diseases = pd.read_csv("all_diseases.tsv", sep="\t", header=None)
all_diseases

                                           0            1
0       AARSKOG SYNDROME, AUTOSOMAL DOMINANT  OMIM:100050
1     AORTIC ANEURYSM, FAMILIAL ABDOMINAL, 1  OMIM:100070
2                       PRUNE BELLY SYNDROME  OMIM:100100
3                             ABDUCENS PALSY  OMIM:100200
4                    ADAMS-OLIVER SYNDROME 1  OMIM:100300
...                                      ...          ...
8822                                     NaN  OMIM:618367
8823                                     NaN  OMIM:618369
8824                                     NaN  OMIM:618371
8825                                     NaN  OMIM:618372
8826                                     NaN  OMIM:618374

[8827 rows x 2 columns]

In [13]:
gene_diseases = pd.read_csv("genes_diseases.tsv", sep="\t", header=None)
gene_diseases

            0            1
0        3119  OMIM:612595
1        3265  OMIM:218040
2        9992  OMIM:608988
3       84570  OMIM:609384
4        6638  OMIM:615091
...       ...          ...
11760    9439  OMIM:614346
11761   10000  OMIM:615937
11762    1630  OMIM:617542
11763    1316  OMIM:608658
11764  388753  OMIM:616501

[11765 rows x 2 columns]

In [27]:
all_genes = pd.read_csv("gene_id_data_index.tsv", sep="\t", header=None)
all_genes_ids = all_genes.loc[1:, 0].tolist()
all_genes_ids = [int(item) for item in all_genes_ids]
len(all_genes_ids)

17247

In [28]:
## https://www.informatics.jax.org/downloads/reports/MGI_DO.rpt
gene2diseases_mouse = pd.read_csv("MGI_DO.tsv", sep="\t")
gene2diseases_mouse["EntrezGene ID"] = gene2diseases_mouse["EntrezGene ID"].fillna(-1)
gene2diseases_mouse["EntrezGene ID"] = gene2diseases_mouse["EntrezGene ID"].astype(int)
gene2diseases_mouse

,DO Disease ID,DO Disease Name,OMIM IDs,Common Organism Name,NCBI Taxon ID,Symbol,EntrezGene ID,Mouse MGI ID
0,DOID:0112248,17-beta hydroxysteroid dehydrogenase 3 deficiency,OMIM:264300,human,9606,HSD17B3,3293,NaN
1,DOID:0112248,17-beta hydroxysteroid dehydrogenase 3 deficiency,OMIM:264300,"mouse, laboratory",10090,Hsd17b3,15487,MGI:107177
2,DOID:0111453,2-aminoadipic 2-oxoadipic aciduria,OMIM:204750,human,9606,DHTKD1,55526,NaN
3,DOID:0111453,2-aminoadipic 2-oxoadipic aciduria,OMIM:204750,"mouse, laboratory",10090,Dhtkd1,209692,MGI:2445096
4,DOID:0050573,2-hydroxyglutaric aciduria,NaN,human,9606,L2HGDH,79944,NaN
...,...,...,...,...,...,...,...,...
18631,DOID:905,Zellweger syndrome,NaN,human,9606,PHYH,5264,NaN
18632,DOID:905,Zellweger syndrome,NaN,"mouse, laboratory",10090,Pex1,71382,MGI:1918632
18633,DOID:905,Zellweger syndrome,NaN,"mouse, laboratory",10090,Pex11b,18632,MGI:1338882
18634,DOID:0060478,Zika fever,NaN,human,9606,STAT2,6773,NaN
18635,DOID:0050782,Zollinger-Ellison syndrome,NaN,human,9606,EGF,1950,NaN

In [29]:
mouse_human_gene_ids = list(set(gene2diseases_mouse["EntrezGene ID"].tolist()))
mouse_human_gene_ids = [int(item) for item in mouse_human_gene_ids]
len(mouse_human_gene_ids)

7272

In [30]:
human_genes = all_genes_ids #list(set(gene_diseases.loc[:, 0].tolist()))
len(human_genes)

17247

In [31]:
gene_ids_not_present = list(set(mouse_human_gene_ids).difference(set(human_genes)))
len(gene_ids_not_present)

2294

In [34]:
all_disease_names = all_diseases.loc[:, 1].tolist()
all_disease_OMIM = list(set([int(item.split(":")[1]) for item in all_disease_names]))
len(all_disease_OMIM), all_disease_names[:5], all_disease_OMIM[:5]

(8827,
 ['OMIM:100050', 'OMIM:100070', 'OMIM:100100', 'OMIM:100200', 'OMIM:100300'],
 [163850, 229400, 131100, 262190, 163950])

In [35]:
gene2diseases_mouse_filtered = gene2diseases_mouse[~gene2diseases_mouse["EntrezGene ID"].isin(gene_ids_not_present)]
gene2diseases_mouse_filtered

,DO Disease ID,DO Disease Name,OMIM IDs,Common Organism Name,NCBI Taxon ID,Symbol,EntrezGene ID,Mouse MGI ID
0,DOID:0112248,17-beta hydroxysteroid dehydrogenase 3 deficiency,OMIM:264300,human,9606,HSD17B3,3293,NaN
2,DOID:0111453,2-aminoadipic 2-oxoadipic aciduria,OMIM:204750,human,9606,DHTKD1,55526,NaN
4,DOID:0050573,2-hydroxyglutaric aciduria,NaN,human,9606,L2HGDH,79944,NaN
5,DOID:0050573,2-hydroxyglutaric aciduria,NaN,human,9606,SLC25A1,6576,NaN
6,DOID:0060575,3MC syndrome 1,OMIM:257920,human,9606,MASP1,5648,NaN
...,...,...,...,...,...,...,...,...
18629,DOID:905,Zellweger syndrome,NaN,human,9606,ABCD3,5825,NaN
18630,DOID:905,Zellweger syndrome,NaN,human,9606,NR5A1,2516,NaN
18631,DOID:905,Zellweger syndrome,NaN,human,9606,PHYH,5264,NaN
18634,DOID:0060478,Zika fever,NaN,human,9606,STAT2,6773,NaN
18635,DOID:0050782,Zollinger-Ellison syndrome,NaN,human,9606,EGF,1950,NaN

In [36]:
gene2diseases_mouse_filtered["OMIM IDs"] = gene2diseases_mouse_filtered["OMIM IDs"].fillna(-1)
#gene2diseases_mouse_filtered["OMIM IDs"] = gene2diseases_mouse_filtered["OMIM IDs"].astype(int)
gene2diseases_mouse_filtered

/tmp/ipykernel_146490/656753768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gene2diseases_mouse_filtered["OMIM IDs"] = gene2diseases_mouse_filtered["OMIM IDs"].fillna(-1)

,DO Disease ID,DO Disease Name,OMIM IDs,Common Organism Name,NCBI Taxon ID,Symbol,EntrezGene ID,Mouse MGI ID
0,DOID:0112248,17-beta hydroxysteroid dehydrogenase 3 deficiency,OMIM:264300,human,9606,HSD17B3,3293,NaN
2,DOID:0111453,2-aminoadipic 2-oxoadipic aciduria,OMIM:204750,human,9606,DHTKD1,55526,NaN
4,DOID:0050573,2-hydroxyglutaric aciduria,-1,human,9606,L2HGDH,79944,NaN
5,DOID:0050573,2-hydroxyglutaric aciduria,-1,human,9606,SLC25A1,6576,NaN
6,DOID:0060575,3MC syndrome 1,OMIM:257920,human,9606,MASP1,5648,NaN
...,...,...,...,...,...,...,...,...
18629,DOID:905,Zellweger syndrome,-1,human,9606,ABCD3,5825,NaN
18630,DOID:905,Zellweger syndrome,-1,human,9606,NR5A1,2516,NaN
18631,DOID:905,Zellweger syndrome,-1,human,9606,PHYH,5264,NaN
18634,DOID:0060478,Zika fever,-1,human,9606,STAT2,6773,NaN
18635,DOID:0050782,Zollinger-Ellison syndrome,-1,human,9606,EGF,1950,NaN

In [37]:
gene2diseases_mouse_filtered = gene2diseases_mouse_filtered[["EntrezGene ID", "OMIM IDs"]]
gene2diseases_mouse_filtered

       EntrezGene ID     OMIM IDs
0               3293  OMIM:264300
2              55526  OMIM:204750
4              79944           -1
5               6576           -1
6               5648  OMIM:257920
...              ...          ...
18629           5825           -1
18630           2516           -1
18631           5264           -1
18634           6773           -1
18635           1950           -1

[14092 rows x 2 columns]

In [38]:
#gene2diseases_zebrafish_genes_OMIMs["OMIM_ID"] =  'OMIM:' + gene2diseases_zebrafish_genes_OMIMs['OMIM_ID'].astype(str)
#gene2diseases_zebrafish_genes_OMIMs
gene2diseases_mouse_filtered = gene2diseases_mouse_filtered[~(gene2diseases_mouse_filtered["OMIM IDs"] == -1)]
gene2diseases_mouse_filtered

       EntrezGene ID     OMIM IDs
0               3293  OMIM:264300
2              55526  OMIM:204750
6               5648  OMIM:257920
7              78989  OMIM:265050
8              10584  OMIM:248340
...              ...          ...
18622          90665  OMIM:400047
18623           8287  OMIM:415000
18624          55753  OMIM:619701
18625           9896  OMIM:216340
18627          79971  OMIM:619648

[8404 rows x 2 columns]

In [39]:
import numpy as np
mouse_OMIM_ID = list(set(gene2diseases_mouse_filtered["OMIM IDs"].tolist()))
#mouse_OMIM_ID = [int() for item in mouse_OMIM_ID]
len(mouse_OMIM_ID), mouse_OMIM_ID[:5]

(4249,
 ['OMIM:617644', 'OMIM:616521', 'OMIM:607624', 'OMIM:133100', 'OMIM:615066'])

In [40]:
disease_ids_not_present = list(set(mouse_OMIM_ID).difference(set(all_disease_names)))
len(disease_ids_not_present), disease_ids_not_present[:5]

(529,
 ['OMIM:618404',
  'OMIM:619297',
  'OMIM:618767',
  'OMIM:241550|OMIM:614435',
  'OMIM:620221'])

In [41]:
len(all_disease_OMIM), all_disease_OMIM[:10], len(all_disease_names), all_disease_names[:10]

(8827,
 [163850,
  229400,
  131100,
  262190,
  163950,
  229500,
  131200,
  262300,
  164000,
  229600],
 8827,
 ['OMIM:100050',
  'OMIM:100070',
  'OMIM:100100',
  'OMIM:100200',
  'OMIM:100300',
  'OMIM:100600',
  'OMIM:100675',
  'OMIM:100700',
  'OMIM:100800',
  'OMIM:100820'])

In [42]:
gene2diseases_mouse_filtered = gene2diseases_mouse_filtered[~gene2diseases_mouse_filtered["OMIM IDs"].isin(disease_ids_not_present)]
gene2diseases_mouse_filtered

       EntrezGene ID     OMIM IDs
0               3293  OMIM:264300
2              55526  OMIM:204750
6               5648  OMIM:257920
7              78989  OMIM:265050
8              10584  OMIM:248340
...              ...          ...
18618           2623  OMIM:314050
18619           2158  OMIM:300807
18620           7547  OMIM:314390
18623           8287  OMIM:415000
18625           9896  OMIM:216340

[6550 rows x 2 columns]

In [43]:
gene2diseases_mouse_filtered.columns = range(gene2diseases_mouse_filtered.shape[1])
gene2diseases_mouse_filtered
#gene2diseases_zebrafish_genes_OMIMs_nh.to_csv("gene2diseases_zebrafish_genes_OMIMs.tsv", index=None)

           0            1
0       3293  OMIM:264300
2      55526  OMIM:204750
6       5648  OMIM:257920
7      78989  OMIM:265050
8      10584  OMIM:248340
...      ...          ...
18618   2623  OMIM:314050
18619   2158  OMIM:300807
18620   7547  OMIM:314390
18623   8287  OMIM:415000
18625   9896  OMIM:216340

[6550 rows x 2 columns]

In [44]:
unique_gene2diseases_mouse_genes_OMIMs = gene2diseases_mouse_filtered.drop_duplicates()
unique_gene2diseases_mouse_genes_OMIMs

           0            1
0       3293  OMIM:264300
2      55526  OMIM:204750
6       5648  OMIM:257920
7      78989  OMIM:265050
8      10584  OMIM:248340
...      ...          ...
18618   2623  OMIM:314050
18619   2158  OMIM:300807
18620   7547  OMIM:314390
18623   8287  OMIM:415000
18625   9896  OMIM:216340

[6543 rows x 2 columns]

In [45]:
mouse_gene_ids = list()
mouse_omim_ids = list()

for i, row in unique_gene2diseases_mouse_genes_OMIMs.iterrows():
    gene_id = row[0]
    omimids = row[1]
    s_omimids = omimids.split("|")
    if len(s_omimids) > 1:
        #print(gene_id, omimids)
        for oids in s_omimids:
            mouse_gene_ids.append(gene_id)
            mouse_omim_ids.append(oids)
    else:
        mouse_gene_ids.append(gene_id)
        mouse_omim_ids.append(omimids)
inflated_mouse_gene_omimid = pd.DataFrame(zip(mouse_gene_ids, mouse_omim_ids))
inflated_mouse_gene_omimid

          0            1
0      3293  OMIM:264300
1     55526  OMIM:204750
2      5648  OMIM:257920
3     78989  OMIM:265050
4     10584  OMIM:248340
...     ...          ...
6538   2623  OMIM:314050
6539   2158  OMIM:300807
6540   7547  OMIM:314390
6541   8287  OMIM:415000
6542   9896  OMIM:216340

[6543 rows x 2 columns]

In [46]:
unique_inflated_mouse_gene_omimid = inflated_mouse_gene_omimid.drop_duplicates()
unique_inflated_mouse_gene_omimid

          0            1
0      3293  OMIM:264300
1     55526  OMIM:204750
2      5648  OMIM:257920
3     78989  OMIM:265050
4     10584  OMIM:248340
...     ...          ...
6538   2623  OMIM:314050
6539   2158  OMIM:300807
6540   7547  OMIM:314390
6541   8287  OMIM:415000
6542   9896  OMIM:216340

[6543 rows x 2 columns]

In [48]:
unique_human_gene_diseases = gene_diseases.drop_duplicates()
unique_human_gene_diseases

            0            1
0        3119  OMIM:612595
1        3265  OMIM:218040
2        9992  OMIM:608988
3       84570  OMIM:609384
4        6638  OMIM:615091
...       ...          ...
11760    9439  OMIM:614346
11761   10000  OMIM:615937
11762    1630  OMIM:617542
11763    1316  OMIM:608658
11764  388753  OMIM:616501

[11765 rows x 2 columns]

In [58]:
unique_inflated_mouse_gene_omimid.loc[:, 0] = unique_inflated_mouse_gene_omimid.loc[:, 0].astype(int)
unique_inflated_mouse_gene_omimid.loc[:, 1] = unique_inflated_mouse_gene_omimid.loc[:, 1].astype(str)

unique_inflated_mouse_gene_omimid

          0            1
0      3293  OMIM:264300
1     55526  OMIM:204750
2      5648  OMIM:257920
3     78989  OMIM:265050
4     10584  OMIM:248340
...     ...          ...
6538   2623  OMIM:314050
6539   2158  OMIM:300807
6540   7547  OMIM:314390
6541   8287  OMIM:415000
6542   9896  OMIM:216340

[6543 rows x 2 columns]

In [59]:
unique_human_gene_diseases.loc[:, 0] = unique_human_gene_diseases.loc[:, 0].astype(int)
unique_human_gene_diseases.loc[:, 1] = unique_human_gene_diseases.loc[:, 1].astype(str)
unique_human_gene_diseases

            0            1
0        3119  OMIM:612595
1        3265  OMIM:218040
2        9992  OMIM:608988
3       84570  OMIM:609384
4        6638  OMIM:615091
...       ...          ...
11760    9439  OMIM:614346
11761   10000  OMIM:615937
11762    1630  OMIM:617542
11763    1316  OMIM:608658
11764  388753  OMIM:616501

[11765 rows x 2 columns]

In [64]:
concat_pd = pd.concat([unique_inflated_mouse_gene_omimid, unique_human_gene_diseases], axis=0)
concat_pd

            0            1
0        3293  OMIM:264300
1       55526  OMIM:204750
2        5648  OMIM:257920
3       78989  OMIM:265050
4       10584  OMIM:248340
...       ...          ...
11760    9439  OMIM:614346
11761   10000  OMIM:615937
11762    1630  OMIM:617542
11763    1316  OMIM:608658
11764  388753  OMIM:616501

[18308 rows x 2 columns]

In [84]:
only_in_mouse_gene_id = list()
only_in_mouse_omim_id = list()

for i, row in unique_inflated_mouse_gene_omimid.iterrows():
    gene_id = row[0]
    omim_id = row[1]
    common_mouse_human = unique_human_gene_diseases[(unique_human_gene_diseases.loc[:, 0] == gene_id) & (unique_human_gene_diseases.loc[:, 1] == omim_id)]
    if len(common_mouse_human.index) > 0:
        continue
    else:
        only_in_mouse_gene_id.append(gene_id)
        only_in_mouse_omim_id.append(omim_id)
        
df_only_in_mouse = pd.DataFrame(zip(only_in_mouse_gene_id, only_in_mouse_omim_id))
df_only_in_mouse

           0            1
0      57647  OMIM:607080
1       7433  OMIM:200400
2       3119  OMIM:200400
3       8086  OMIM:200400
4       3117  OMIM:200400
...      ...          ...
2628    7462  OMIM:194050
2629  653361  OMIM:194050
2630    7976  OMIM:194050
2631   55869  OMIM:309585
2632    4624  OMIM:194200

[2633 rows x 2 columns]

In [85]:
df_only_in_mouse.to_csv("df_only_in_mouse.tsv", sep="\t", index=None)

In [89]:
df_only_in_mouse[df_only_in_mouse.loc[:, 0] == 4524]

         0            1
28    4524  OMIM:601626
188   4524  OMIM:600807
599   4524  OMIM:600880
614   4524  OMIM:601371
673   4524  OMIM:601367
694   4524  OMIM:603956
726   4524  OMIM:608232
931   4524  OMIM:608808
949   4524  OMIM:190685
1017  4524  OMIM:306700
1068  4524  OMIM:614395
1087  4524  OMIM:275000
1201  4524  OMIM:114550
1314  4524  OMIM:603174
1437  4524  OMIM:182280
1477  4524  OMIM:156000
1487  4524  OMIM:157300
1524  4524  OMIM:254500
1649  4524  OMIM:608557
1711  4524  OMIM:194070
1901  4524  OMIM:259500
2090  4524  OMIM:300854
2151  4524  OMIM:180300
2249  4524  OMIM:603903
2292  4524  OMIM:228100
2410  4524  OMIM:187500
2462  4524  OMIM:222100
2537  4524  OMIM:109800

In [90]:
unique_human_gene_diseases[unique_human_gene_diseases.loc[:, 0] == 4524]

          0            1
1223   4524  OMIM:188050
4335   4524  OMIM:601634
6276   4524  OMIM:301410
6308   4524  OMIM:182940
7729   4524  OMIM:236250
8441   4524  OMIM:614486
9056   4524  OMIM:236200
10897  4524  OMIM:181500

In [107]:
unique_human_gene_diseases

            0            1
0        3119  OMIM:612595
1        3265  OMIM:218040
2        9992  OMIM:608988
3       84570  OMIM:609384
4        6638  OMIM:615091
...       ...          ...
11760    9439  OMIM:614346
11761   10000  OMIM:615937
11762    1630  OMIM:617542
11763    1316  OMIM:608658
11764  388753  OMIM:616501

[11765 rows x 2 columns]

In [91]:
#unique_concat_mouse_humans_pd = concat_pd.drop_duplicates()
#unique_concat_mouse_humans_pd

In [92]:
#unique_concat_mouse_humans_pd.to_csv("unique_human_mouse_genes_diseases.tsv", index=None, sep="\t")

In [93]:
#zebrafish = pd.read_csv("unique_human_zebrafish_genes_diseases.tsv", sep="\t")
#zebrafish

In [94]:
#mouse_human = pd.read_csv("unique_human_mouse_genes_diseases.tsv", sep="\t")
#mouse_human

In [95]:
#only_in_mouse[only_in_mouse.iloc[:, 0] == 1316]

In [96]:
#unique_human_gene_diseases[unique_human_gene_diseases.iloc[:, 0] == 1316]

In [97]:
#concate_mouse_zebrafish_human = pd.concat([zebrafish, mouse_human], ignore_index=True, axis=0)
#concate_mouse_zebrafish_human

In [98]:
#concate_mouse_zebrafish_human = concate_mouse_zebrafish_human.drop_duplicates()
#concate_mouse_zebrafish_human

In [99]:
#concate_mouse_zebrafish_human = concate_mouse_zebrafish_human.sample(frac=1)
#concate_mouse_zebrafish_human

In [100]:
#concate_mouse_zebrafish_human.iloc[:, 1].values

In [101]:
#concate_mouse_zebrafish_human.iloc[:, 1] = [item.split("|")[0] for item in concate_mouse_zebrafish_human.iloc[:, 1].values]

#concate_mouse_zebrafish_human = concate_mouse_zebrafish_human.drop_duplicates()
#concate_mouse_zebrafish_human

In [102]:
#concate_mouse_zebrafish_human.to_csv("gene_disease_mouse_zebrafish_human.tsv", sep="\t", index=None)
#concate_mouse_zebrafish_human

In [103]:
'''not_gene_mouse = list()
not_omim_mouse = list()
for i, row in unique_inflated_mouse_gene_omimid.iterrows():
    common_row = unique_human_gene_diseases[(unique_human_gene_diseases.iloc[:, 0] == row[0]) & (unique_human_gene_diseases.iloc[:, 1] == row[1])]
    if len(common_row.index) == 0:
        not_gene_mouse.append(row[0])
        not_omim_mouse.append(row[1])
only_in_mouse = pd.DataFrame(zip(not_gene_mouse, not_omim_mouse))
only_in_mouse'''

'not_gene_mouse = list()\nnot_omim_mouse = list()\nfor i, row in unique_inflated_mouse_gene_omimid.iterrows():\n    common_row = unique_human_gene_diseases[(unique_human_gene_diseases.iloc[:, 0] == row[0]) & (unique_human_gene_diseases.iloc[:, 1] == row[1])]\n    if len(common_row.index) == 0:\n        not_gene_mouse.append(row[0])\n        not_omim_mouse.append(row[1])\nonly_in_mouse = pd.DataFrame(zip(not_gene_mouse, not_omim_mouse))\nonly_in_mouse'

In [104]:
#only_in_mouse.to_csv("gene_disease_only_in_mouse.tsv", sep="\t", index=None)

In [105]:
#only_in_mouse[only_in_mouse.iloc[:, 0] == 4524]

In [106]:
#unique_human_gene_diseases[unique_human_gene_diseases.iloc[:, 0] == 81570]

In [100]:
#unique_inflated_mouse_gene_omimid[unique_inflated_mouse_gene_omimid.iloc[:, 0] == 3988]